@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$website-width: 1280px;
$primary-color: #af0000cc;
$light-color: #ffffff;
$medium-color: rgb(228, 228, 228);
$dark-color: rgb(0, 0, 0);
$bg-image: url('/dist/img/marlon-5PUy-FMdC3I-unsplash.jpg');
